@import './variables.scss';
@import './colors.scss';

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant Garamond', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: grey;

  @media (min-width: 992px) {
    font-size: 1.4vw !important;
  }
}

h1 {
  font-size: 18px;
  letter-spacing: 0.1em;
  font-weight: bold;

  @media (min-width: 992px) {
    font-size: 1.5rem !important;
  }
}

h2 {
  letter-spacing: 0.1em;
  font-size: 17px;
  font-weight: bold;

  @media (min-width: 992px) {
    font-size: 1.3rem !important;
  }
}

h3 {
  letter-spacing: 0.1em;
  font-size: 16px;
  font-weight: bold;

  @media (min-width: 992px) {
    font-size: 1.1rem !important;
  }
}
